{
  "machine": {
    "gpu": 1
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
       "Entrypoint": [
        "python", 
        "app.py",
        {{.URL}},
        {{.SENTENCE}},
        {{.LANGUAGE}},
        {{.INPUT_FOLDER}},
        {{.OUTPUT_FOLDER}}
        ],
        "Image": "bringhi/synt@sha256:7b01c7a9e7732b936b779d3d780e180f42c26e53078e9b66a90847f53a1870bb"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "Estuary"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 1800,
      "Verifier": "Noop",
      "inputs": [
          {
              "URL": {{.URL}},
              "Name": "cane.txt",
              "StorageSource": "urlDownload",
              "path": "/inputs"
          }
      ],
      "outputs": [
          {
              "StorageSource": "IPFS",
              "Name": "outputs",
              "path": "/outputs"
          }
      ]
    }
  }
}

