{
  "machine": {
    "gpu": 0,
    "cpu": 1000,
    "ram": 100
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
       "Entrypoint": [
        "python", 
        "app.py",
        {{.URL}}
        ],
        "Image": "bringhi/synt@sha256:f11f3934311a573c55ff7efa742659ee1c1a75b0bedc7a08f847c21a618a7914"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "Estuary"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 1800,
      "Verifier": "Noop",
      "inputs": [
          {
              "URL": {{.URL}},
              "Name": "cane.txt",
              "StorageSource": "urlDownload",
              "path": "/inputs"
          }
      ],
      "outputs": [
          {
              "StorageSource": "IPFS",
              "Name": "outputs",
              "path": "/outputs"
          }
      ]
    }
  }
}

